:root {
  --darkGray: rgb(41, 46, 58);
  --lightBlue: rgb(146, 204, 205);
  --cyan: rgb(54, 72, 129);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Helvetica, Arial, sans-serif;
}


/*Header*/
header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 140px 15px 0px;
  width: 100%;
  background-color: var(--darkGray);
  justify-content: space-between;
  align-items: center;
}

h1 {
  background-color: var(--lightBlue);
  padding: 0px 5px 0px 80px;
  font-size: 50px;
}

h1 a {
  color: var(--darkGray);
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding-left: 10px;
}

header a {
  text-decoration: none;
}

header nav a {
  color: var(--lightBlue);
  padding: 0px 10px;
  font-weight: bold;
  padding-bottom: 2px;
  font-size: 19px;
}

header nav .selected {
  border-bottom: solid var(--lightBlue);
}
/*end Header*/

/*Hero*/
.hero {
  width: 100%;
  height: 150px;
  background-image: url("./assets/hero/heroImage.jpg");
  display: flex;
  background-size: cover;
  justify-content: right;
  align-items: flex-end;
}

.hero div {
  margin: 20px 200px 0px 0px;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  background-color: var(--darkGray);
  color: var(--lightBlue);
}
/*end Hero*/

/*Section*/
section {
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 0px;
  color: var(--cyan);
}

section h2 {
  width: 210px;
  font-size: 50px;
  text-align: right;
  padding-right: 10px;
}

section div {
  width: 70%;
  padding-left: 30px;
  border-left: solid var(--cyan);
}

section p {
  padding-bottom: 20px;
}
/*end section*/

/*About-me specific*/
#about-me div {
  font-size: 18px;
  line-height: 1.5;
}
/*end About-me specific*/

/*Work specific*/
.projects {
  display: flex;
  flex-wrap: wrap;
}

#work .project {
  border: solid 5px var(--lightBlue);
  padding: 0px;
  display: flex;
  align-items: flex-end;
}

#work .run-buddy {
  flex-grow: 1;
  flex-basis: 1200px;
  height: 400px;
  background-image: url("./assets/Portfolio/elonCoinScreenshot.png");
  background-size: 1300px;
}

#work .robot-gladiators {
  flex-basis: 300px;
  flex-grow: 1;
  margin: 16px 8px 0px 0px;
  height: 150px;
  background-image: url("./assets/Portfolio/runBuddyScreenShot.png");
  background-size: 600px;
  background-position-y: -50px;
}

#work .coming-soon {
  flex-basis: 300px;
  flex-grow: 1;
  margin: 16px 0px 0px 8px;
  height: 150px;
  background-image: url("./assets/Portfolio/Shellter.png");
}

.project-lable {
  position: absolute;
  border: none;
  padding: 5px;
  margin-bottom: 30px;
  background-color: var(--lightBlue);
  width: auto;
  z-index: 3;
}

/*Color Transition*/
.project a {
  display: flex;
  flex-grow: 1;
}

.color-shift {
  flex-grow: 1;
  background: var(--darkGray);
  border: none;
  opacity: .5;
  transition: opacity .5s;
}

.run-buddy .color-shift {
  height: 390px;
}

.robot-gladiators .color-shift,
.coming-soon .color-shift {
  height: 140px;
}

.color-shift:hover {
  opacity: 0;
}
/*end Color Transition*/
/*end Work specific*/

/* Contact Form */
form div {
  border: none;
  padding: 0;
  margin-bottom: 10px;
}

form label {
  margin-right: 5px;
  font-size:x-large;          
}

form input {
  height: 40px;
  border: solid 2px var(--darkGray);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: large;
  width: 300px;
}

form textarea {
  resize: none;
  border: solid 2px var(--darkGray);
  border-radius: 10px;
  font-size: large;
  height: 200px;
  width: 500px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
}

form button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: x-large;
  background-color: var(--cyan);
  border: none;
  padding: 4px;
  color: white;
  border-radius: 5px;
  border: solid 3px var(--cyan);
}

form button:hover {
  background-color: white;
  color: var(--cyan);
}
/* end Contact Form */

/* Resume */
#Resume div {
  font-size: x-large;
  padding-top: 17px;
  padding-bottom: 17px;
}
/* end Resume */